.container{
    width: 850px;
    height: 500px;
    padding: 100px;
    background-color: white;
    margin-top: 50px;
}
.card{
    position: relative;
    padding: 20px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid black;    
    
}
button{
    position: absolute;
}

