.card-container{
    width: 650px;
    height: 300px;
    padding: 110px;
    background-color: white;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.center-card{
    width: 400px;
    height: 320px;    
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border: 1px solid black;    
}
.input-area{
  width: 100%;
  padding-top: 10px;
  

}
.footer-btn{
  display: flex;
  justify-content: space-between;
}