<form [formGroup]="regForm">
    <div class="card-container">
        <div class="center-card">
            <div class="card-decor">
                <div>
                    <label for="email">Email</label>
                    <input type="text" formControlName="email" class="input-style">
                    <br>
                    <label for="pass">Password</label>
                    <input type="text" formControlName="password" class="input-style">
                </div><br>

                <div class="footer-btn">
                    <a href="#new-user" style="text-decoration: none;">New User?</a>
                    <button type="button">Login</button>
                </div>
            </div>

        </div>
    </div>
</form>