
.navbar{
    position: fixed;
    background-color:lightgrey;
    top: 0;
    width: 800px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}
.sidebar{
    left: 0;
    width: 180px;
    height: 600px;
    background-color: lightpink;
}
.feed{
    margin-left: 180px;
    width: 620px;
    height: 600px;
    background-color: lightslategray;
}